{% load static %}
<HTML>
	<HEAD>
	  <TITLE>
		Computer Science Checkout Form
	  </TITLE>
	  <link rel="shortcut icon" href="/favicon.ico"> 
	</HEAD>
	<BODY BGCOLOR=FFFFFF TEXT=000000>
	<CENTER>
		<a  href="/"><img width = 322 src="../static/vt_inline_computer_science.png"></a>
	  <H2>
		Equipment Checkout Form
	  </H2>
	  All equipment checked out is property of the CS Dept. and should be returned in 
	  exactly the same condition.  All equipment is inventoried.  By signing below, you
	  agree that you are responisble for this equipment and its return.  Faculty/Staff
	  loaner machines must be returned.
	  <P>
	  </center>
	  <table cellpadding=2 cellspacing=2 border=0>
	  <tr>
		<td colspan=2>
		  <b>VT Property #:</b>
		</td>
		<td>
		  <!-- <u>VT000320683</u> -->
		  <u>{{VT_Property}}</u>
		</td>
	  </tr>
	  <tr>
		<td colspan=2> 
		  <b>CS Property #:</b>
		</td>
		<td>
		  <u>{{CS_Property}}</u>
		</td>
	  </tr>
	  <tr>
		<td colspan=2>
		  <b>Serial #:</b>
		</td>
		<td>
		  <u>{{serial}}</u>
		</td>
	  </tr>
	  <tr>
		<td colspan=2>
		  <b>Description:</b>
		</td>
		<td>
		  <u>{{description}}</u>
		</td>
	  </tr>
	  <!-- <tr>
		<td colspan=2>
		  <b>Purchase Order:</b>
		</td>
		<td>
		  <u>P1089595</u>
		</td>
	  </tr> -->

	  <tr>
		<td colspan=3>
		  <b>Checked Out To (Faculty/Staff Member):</b>
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td>
		  Name:
		</td>
		<td>
		  <u>{{full_name}}</u>
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td>
		  Office:
		</td>
		<td>
		  <u>{{ Office_Addr }} </u>
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td>
		  Email/Phone:
		</td>
		<td>
		  <u>{{ pid }}@vt.edu</b>
		</td>
	  </tr>
	  {% if is_student_user %}
	  <tr>
		<td colspan=3>
		   <b>For Use By (Faculty/Staff/Grad Student):</b>
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td>
		  Name:
		</td>
		<td>
		  <u></u>
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td>
		  Email/Phone:
		</td>
		<td>
		  <u></u>
		</td>
	  </tr>
	  {% endif %}
	  <tr>
		<td colspan=3>
		  <b>Check one:</b>
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td> 
		  <!-- <img width=70 height=30 src=../static/underline.gif valign=bottom>  -->
		  <input type="radio" id="horns" name="horns">
		</td>
		<td width=700>
		  This device will remain within the United States while in my care.
		</td>
	  </tr>
	  <tr>
		<td width=50>
		</td>
		<td>
		  <!-- <img width=70 height=30 src=../static/underline.gif valign=bottom>  -->
		  <input type="radio" id="horns" name="horns">
		</td>
		<td>This device may be shipped or transported during international
  travel by myself or my students. I have attended OESRC training and understand I must contact that office for current regulations review and to file appropriate documents before the device leaves the US.
		</td>
	  </tr>
	  <tr>
		<td colspan=2>
		  <b>Signature:</b>
		</td>
		<td>
		  <img width=300 height=30 src=../static/underline.gif valign=bottom>
		</td>
	  </tr>
	  <tr>
		<td colspan=2>
		  <b>Date Checked Out:</b>
		</td>
		<td height=30>
		  <u>{{checkout_date}}</u>
		</td>
	  </tr>
	  <tr>
		<td colspan=2>
		  <b>Date Checked In:</b>
		</td>
		<td>
		  <img width=300 height=30 src=../static/underline.gif valign=bottom>
		</td>
	  </tr>
	  <tr>
		<td colspan=2>
		  <b>Department Head/Designee Signature:</b>
		</td>
		<td>
		  <img width=300 height=30 src=../static/underline.gif valign=bottom>
		</td>
	  </tr>
	  
	  </table>
	
	  {% load crispy_forms_tags %}
	  <form method="POST">
		<br>
		{% csrf_token %}

		<div class="form-group row">
			<div class="col-10">
				{{Note}}
			</div>
		</div>

		<button type="submit" class="btn btn-primary" name="button">Submit</button>
	</form>
	</BODY>
</HTML> 