{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div class="container">
		<h5>Are you sure you want to delete this item?</h5>
		<br>
		<form method="POST">
		{% csrf_token %}
		{% for field in form %}
				<div class="form-group row">
					<label for="id_{{ field.name }}" class="col-2 col-form-label"> {{ field.label }}</label>
					<div class="col-10">
						{{ field }}
					</div>
				</div>
			{% endfor %}

			<button type="submit" class="btn btn-danger btn_md" name="button">Delete</button>


		</form>
	</div>


{% endblock %}