{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% load crispy_forms_tags %}
	<div class="container">
		<form method="POST">
			<br>
			{% csrf_token %}

			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<h4{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h4>
				{% endfor %}
			</ul>
			{% else %}
				<h4>Editing Item</h4>
			{% endif %}
			{% for field in form %}
				<div class="form-group row">
					<div class="col-10">
						{{ field|as_crispy_field }}
					</div>
				</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary" name="button">Edit</button>
		</form>
	</div>




{% endblock %}