{% extends "base.html" %}
{% load static %}
{% block content %}
	{% load crispy_forms_tags %}
	<!-- </nav> -->
	<div class="container-fluid ">
		{% if header %}
			<div class="card bg-light">
				<div class="card-body text-center">
					<!-- <div class="container-fluid"> -->
					<br>
					<form method="get">
						<table>
							<tr>
								{% for field in myFilter.form %}
									<td>
										{{ field|as_crispy_field }}
									</td>
								{% endfor %}
							</tr>
						</table>
						<button class="btn btn-primary" type="submit"><i class="bi-search"></i> Search {{ header }}</button>
						{% if header|lower == "device" %}
						<a type="button" class="btn btn-primary" href="{% url 'export_devices' %}">
							<i class="bi bi-arrow-down-circle"></i> Export {{ header }}
						</a>
						<a type="button" class="btn btn-primary" href="{% url 'export_userdevices' %}">
							Export User-Devices
						</a>
					{% endif %}
					{% if header|lower == "hostname" %}
						<a type="button" class="btn btn-primary" href="{% url 'export_hostnames' %}">
							Export {{ header }}
						</a>
					{% endif %}
					{% if header|lower == "building" %}
						<a type="button" class="btn btn-primary" href="{% url 'export_buildings' %}">
							Export {{ header }}
						</a>
						<!-- <a type="button" class="btn btn-primary" href="{% url 'import_buildings' %}">
							Import {{ header }}
						</a> -->
					{% endif %}
					{% if header|lower == "faculty" %}
						<a type="button" class="btn btn-primary" href="{% url 'export_facultys' %}">
							Export {{ header }}
						</a>
						<a type="button" class="btn btn-primary" href="{% url 'export_userdevices' %}">
							Export User-Devices
						</a>
					{% endif %}
					{% if header|lower == "ip" %}
						<a type="button" class="btn btn-primary" href="{% url 'export_ips' %}">
							Export {{ header }}
						</a>
					{% endif %}
					</form>
					<!-- </div> -->
				</div>
			</div>
			<br>
			<br>
			<br>
			<div class="container-fluid text-center">
			<h4> Search {{ header }} Results</h4>
			<!-- Button trigger modal -->
			{% if header|lower == "device" %}
				<!-- <a type="button" class="btn btn-primary" href="{% url 'export_devices' %}">
					Export {{ header }}
				</a> -->
				<!-- <a type="button" class="btn btn-primary" href="{% url 'import_devices' %}">
					Import {{ header }}
				</a> -->
			{% endif %}
			{% if header|lower == "hostname" %}
				<!-- <a type="button" class="btn btn-primary" href="{% url 'export_devices' %}">
					Export {{ header }}
				</a> -->
				<!-- <a type="button" class="btn btn-primary" href="{% url 'import_hostnames' %}">
					Import {{ header }}
				</a> -->
			{% endif %}
			{% if header|lower == "building" %}
				<!-- <a type="button" class="btn btn-primary" href="{% url 'export_devices' %}">
					Export {{ header }}
				</a> -->
				<!-- <a type="button" class="btn btn-primary" href="{% url 'import_buildings' %}">
					Import {{ header }}
				</a> -->
			{% endif %}
			{% if header|lower == "faculty" %}
				<!-- <a type="button" class="btn btn-primary" href="{% url 'export_devices' %}">
					Export {{ header }}
				</a> -->
				<!-- <a type="button" class="btn btn-primary" href="{% url 'import_facultys' %}">
					Import {{ header }}
				</a> -->
			{% endif %}
			{% if header|lower == "ip" %}
				<!-- <a type="button" class="btn btn-primary" href="{% url 'export_devices' %}">
					Export {{ header }}
				</a> -->
				<!-- <a type="button" class="btn btn-primary" href="{% url 'import_ips' %}">
					Import {{ header }}
				</a> -->
			{% endif %}
		{% endif %}
		<table id="info-table" class="table table-hover">
			<thead>
			{# DEVICE #}
			{% if header|lower == "device" %}
				<tr>
					<th>CS_Tag</th>
					<th>Type</th>
					<th>Price</th>
					<th>Description</th>
					<th>VT_Tag</th>
					<th>Serial_Number</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			{% endif %}
			{# HOSTNAME #}
			{% if header|lower == "hostname" %}
				<th>Device CS TAG</th>
				<th>Hostname</th>
				<th>Aliases</th>
				<th>Building_Abbreviation</th>
				<th>Action</th>
				<ul class="messages">
					{% for message in messages %}
						<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
					{% endfor %}
				</ul>
			{% endif %}
			{# FACULTY #}
			{% if header|lower == "faculty" %}
				<th>PID</th>
				<th>Office Address</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Action</th>

			{% endif %}
			{# BUILDING #}
			{% if header|lower == "building" %}
				<th>Building_Abbreviation</th>
				<th>Building Name</th>
				<th>Building Address</th>
				<th>IPv6_prefix</th>
				<th>Action</th>

			{% endif %}
			{# IP ADDRESS #}
			{% if header|lower == "ip" %}
				<th>Network ID</th>
				<th>Building Abbreviation</th>
				<th>IPv4</th>
				<th>IPv6</th>
				<th>Network Status</th>
				<th>Action</th>
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
							<h3{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
						{% endfor %}
					</ul>
				{% endif %}
			{% endif %}
			</thead>

			<tbody>

			{% for item in items %}

				<tr>
					{% if header|lower == "device" %}
						<td data-label="CS_Tag">{{ item.CS_Tag }}</td>
						<td data-label="Type">{{ item.type|default_if_none:"" }}</td>
						<td data-label="Price">{{ item.price|yesno:"$,," }} {{ item.price|default_if_none:"" }}</td>
						<td data-label="Description">{{ item.description|default_if_none:"" }}</td>
						<td data-label="VT_Tag">{{ item.VT_Tag|default_if_none:"" }}</td>
						<td data-label="Serial_Number">{{ item.Serial_Number|default_if_none:"" }}</td>
						<td data-label="Status">{{ item.status|default_if_none:"" }}</td>
						<td data-label="Action">
							<a href="{% url 'view_device' item.CS_Tag %}" class="btn btn-outline-success btn-sm"
							   role="button"><i class="bi bi-sticky-fill"></i> View</a>
							<a href="{% url 'edit_device' item.CS_Tag %}" class="btn btn-outline-info btn-sm"
							   role="button"><i class="bi bi-pen-fill"></i> Edit</a>
							<a href="{% url 'delete_device' item.CS_Tag %}" class="btn btn-outline-danger btn-sm"
							   role="button"><i class="bi bi-trash-fill"></i> Delete</a>
						</td>


					{% endif %}

					{% if header|lower == "hostname" %}

						<td data-label="Device CS TAG">{{ item.DeviceID }}</td>
						<td data-label="Hostname">{{ item.Hostname }}</td>
						<td data-label="Aliases">{{ item.Aliases|truncatechars:20 }}</td>
						<td data-label="Building_Abbr">{{ item.Building_Abbr }}</td>
						<td data-label="Action">
							<a href="{% url 'view_network' item.NetworkID %}" class="btn btn-outline-success btn-sm"
							   role="button"><i class="bi bi-sticky-fill"></i> View</a>
							<a href="{% url 'edit_network' item.pk %}" class="btn btn-outline-info btn-sm"
							   role="button">Edit</a>
							<a href="{% url 'delete_network' item.pk %}" class="btn btn-outline-danger btn-sm"
							   role="button">Delete</a>
						</td>

					{% endif %}
					{% if header|lower == "building" %}

						<td data-label="Building_Abbreviation">{{ item.Building_Abbr }}</td>
						<td data-label="Building Name">{{ item.Building_Name }}</td>
						<td data-label="Building_Addr">{{ item.Building_Addr }}</td>
						<td data-label="IPv6_prefix">{{ item.IPv6_prefix }}</td>
						<td data-label="Action">
							<a href="{% url 'edit_building' item.pk %}" class="btn btn-outline-info btn-sm"
							   role="button">Edit</a>
							<a href="{% url 'delete_building' item.pk %}" class="btn btn-outline-danger btn-sm"
							   role="button">Delete</a>
						</td>

					{% endif %}
					{% if header|lower == "faculty" %}

						<td data-label="PID">{{ item.PID }}</td>
						<td data-label="Office Address">{{ item.Office_Addr }}</td>
						<td data-label="Firstname">{{ item.FirstName }}</td>
						<td data-label="Lastname">{{ item.LastName }}</td>
						<td data-label="Email">{{ item.email }}</td>
						<td data-label="Phone">{{ item.phone }}</td>
						<td data-label="Action">
							<a href="{% url 'edit_faculty' item.PID %}" class="btn btn-outline-info btn-sm"
							   role="button">Edit</a>
							<a href="{% url 'delete_faculty' item.PID %}" class="btn btn-outline-danger btn-sm"
							   role="button">Delete</a>
						</td>

					{% endif %}
					{% if header|lower == "ip" %}

						<td data-label="NetWork ID">{{ item.NetworkID }}</td>
						<td data-label="Building_Abbreviation">{{ item.Building_Abbr }}</td>
						<td data-label="IPv4">{{ item.IPv4 }}</td>
						<td data-label="IPv6">{{ item.IPv6 }}</td>
						{% if item.status == 'Available' %}
							<td data-label="Status">Available</td>
						{% else %}
							<td data-label="Status">Assigned to {{item.assignedDeviceID}}</td>
						{% endif %}
						<td data-label="Action">
							<a href="{% url 'edit_ip' item.IPID %}" class="btn btn-outline-info btn-sm"
							   role="button">Edit</a>
							<a href="{% url 'delete_ip' item.IPID %}" class="btn btn-outline-danger btn-sm"
							   role="button">Delete</a>
						</td>

					{% endif %}

				</tr>


			{% endfor %}

			</tbody>

		</table>
		</div>
		<br>
		<br>
		<br>

	</div>

{% endblock %}