{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid ">
	<nav class="navbar navbar-expand-sm mb-3s flex-column flex-md-row bd-navbar border-top border-left border-right border-bottom shadow-sm ">
		<div class="container ">
			<br>
			<a href="{% url 'display_devices' %}" class="btn btn-outline-primary btn-md" role="button">Devices</a>
			<a href="{% url 'display_hostnames' %}" class="btn btn-outline-primary btn-md" role="button">Hostnames</a>
			<a href="{% url 'display_buildings' %}" class="btn btn-outline-primary btn-md" role="button">Buildings</a>
			<!-- <a href="{% url 'display_faculty' %}" class="btn btn-outline-primary btn-md" role="button">Faculty</a> -->
			<!-- {% if user.is_authenticated %} -->
			<a href="{% url 'add_device' %}" class="btn btn-outline-danger btn-md" role="button">Add Device</a>
			<a href="{% url 'add_userDevice' %}" class="btn btn-outline-danger btn-md" role="button">Add userDevice</a>
			<a href="{% url 'add_hostname' %}" class="btn btn-outline-danger btn-md" role="button">Add Hostname</a>
			<a href="{% url 'add_building' %}" class="btn btn-outline-danger btn-md" role="button">Add Building</a>
			<a href="{% url 'add_faculty' %}" class="btn btn-outline-danger btn-md" role="button">Add Faculty</a>
			<!-- {% endif %} -->
			{# <a href="/" class="btn btn-outline-primary btn-md" role="button">Search Devices</a>#}
			{# <a href="/" class="btn btn-outline-primary btn-md" role="button">Search Hostnames</a>#}
			{# <a href="/" class="btn btn-outline-primary btn-md" role="button">Search Faculty</a>#}
		</div>
	</nav>
	{% if header %}

	<div class="row">
		<div class="col">
			<br>
			<div class="card card-body">
				<form method="get">
					<!-- {{myFilter.form|crispy}}
							<br> -->
					{% for field in myFilter.form %}
					<div class="form-group row">
						<label for="id_{{ field.name }}" class="col-5 col-form-label"> {{ field.label }}</label>
						<div class="col-10">
							{{ field }}
						</div>
					</div>
					{% endfor %}
					<button class="btn btn-primary" type="submit"><i class="bi-search"></i> Search</button>
				</form>

			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<h4>Currently Viewing {{ header }}</h4>
	{% endif %}
	<table class="table table-hover">
		<thead>
			{# DEVICE #}
			{% if header|lower == "device" %}
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Price</th>
				<th>Manufacturer</th>
				<th>Model</th>
				<th>VT_Tag</th>
				<th>CS_Tag</th>
				<th>Serial_Number</th>
				<th>Status</th>
				{# <th>Issues</th>#}
				<th>Action</th>
			</tr>
			{% endif %}
			{# HOSTNAME #}
			{% if header|lower == "hostname" %}
			<th>ID</th>
			<th>Hostname</th>
			<th>Aliases</th>
			<th>IP_Address</th>
			<th>IPv6_Address</th>
			{# <th>MAC_Address</th>#}
			<th>Action</th>

			{% endif %}
			{# User Device #}
			{# {% if header|lower == "UserDevice" %}#}
			{# <th>id</th>#}
			{# <th>Hostname</th>#}
			{# <th>Aliases</th>#}
			{# <th>IP_Address</th>#}
			{# <th>IPv6_Address</th>#}
			{# <th>MAC_Address</th>#}
			{# <th>Edit or Delete</th>#}
			{##}
			{# {% endif %}#}
			{% if header|lower == "building" %}
			<th>ID</th>
			<th>Building Name</th>
			<th>Building Address</th>
			<th>Action</th>

			{% endif %}
		</thead>

		<tbody>

			{% for item in items %}

			<tr>
				{% if header|lower == "device" %}
				<td data-label="ID">{{ item.pk }}</td>
				<td data-label="Type">{{ item.type }}</td>
				<td data-label="Price">${{ item.price }}</td>
				<td data-label="Manufacturer">{{ item.Manufacturer }}</td>
				<td data-label="Model">{{ item.Model }}</td>
				<td data-label="VT_Tag">{{ item.VT_Tag }}</td>
				<td data-label="CS_Tag">{{ item.CS_Tag }}</td>
				<td data-label="Serial_Number">{{ item.Serial_Number }}</td>
				<td data-label="Status">{{ item.status }}</td>
				{# <td data-label="Serial_Number">{{ item.issue }}</td>#}
				<td data-label="Action">
					<a href="{% url 'edit_device' item.pk %}" class="btn btn-outline-info btn-sm" role="button">Edit</a>
					<a href="{% url 'delete_device' item.pk %}" class="btn btn-outline-danger btn-sm"
						role="button">Delete</a>
				</td>

				{% endif %}

				{% if header|lower == "hostname" %}

				<td data-label="ID">{{ item.NetworkID }}</td>
				<td data-label="Hostname">{{ item.Hostname }}</td>
				<td data-label="Aliases">{{ item.Aliases }}</td>
				<td data-label="IP_Address">{{ item.IPv4 }}</td>
				<td data-label="IPv6_Address">{{ item.IPv6 }}</td>
				{# <td>{{ item.MAC_Address }}</td>#}
				<td data-label="Action">
					<a href="{% url 'edit_network' item.pk %}" class="btn btn-outline-info btn-sm"
						role="button">Edit</a>
					<a href="{% url 'delete_network' item.pk %}" class="btn btn-outline-danger btn-sm"
						role="button">Delete</a>
				</td>

				{% endif %}
				{% if header|lower == "building" %}

				<td data-label="Building ID">{{ item.BuildingID }}</td>
				<td data-label="Hostname">{{ item.Building_Name }}</td>
				<td data-label="Aliases">{{ item.Building_Addr }}</td>
				{# <td>{{ item.MAC_Address }}</td>#}
				<td data-label="Action">
					<a href="{% url 'edit_building' item.pk %}" class="btn btn-outline-info btn-sm"
						role="button">Edit</a>
					<a href="{% url 'delete_building' item.pk %}" class="btn btn-outline-danger btn-sm"
						role="button">Delete</a>
				</td>

				{% endif %}

			</tr>

			{% endfor %}

		</tbody>

	</table>

	<br>
	<br>
	<br>

</div>

{% endblock %}