{% extends "base.html" %}
{% load static %}
{% block content %}

	<div class="container text-center">
		<h2>UserDevice {{item.DeviceID}} Detail Page</h2>
		<table id="info-table" class="table table-striped text-left">
			<tr>
				<td align=left><b>CS_Tag</b></td>
				<td data-label="CS_Tag">{{ item.DeviceID }}</td>
			</tr>
			<tr>
				<td align=left><b>Custodian PID</b></td>
				<td data-label="Type">{{ item.UserPID }}</td>
			</tr>
			<tr>
				<td><b>Home Use</b> </td>
				<td data-label="isHomeUse">{{ item.isHomeUse }}</td>
			</tr>
			<tr>
				<td><b>Address</b></td>
				<td data-label="Address">{{ item.Address }}</td>
			</tr>
			<tr>
				<td><b>Room</b></td>
				<td data-label="Room">{{ item.Room }}</td>
			</tr>
			<tr>
				<td><b>Checkout Date</b></td>

				<td data-label="Check out Date">
					{% if item.isCheckedOut %}{{ item.CheckoutDate }}
						{% else %}Not Checked out
				{% endif %}</td>
			</tr>
			<tr>
				<td><b>Return Date</b></td>
				<td data-label="Return Date">{{ item.ReturnDate }}</td>
			</tr>
			<tr>
				<td><b>Note</b></td>
				<td data-label="Note">{{ item.Note }}</td>
			</tr>
			<tr>
				<td align=left><b>Price</b></td>
				<td data-label="Price">${{ device.price }}</td>
			</tr>
			<tr>
				<td align=left><b>Description</b></td>
				<td data-label="Description">{{ device.description }}</td>
			</tr>
			<tr>
				<td align=left><b>VT_Tag</b></td>
				<td data-label="VT_Tag">{{ device.VT_Tag }}</td>
			</tr>
			<tr>
				<td align=left><b>Serial_Number</b></td>
				<td data-label="Serial_Number">{{ device.Serial_Number }}</td>
			</tr>
			<tr>
				<td align=left><b>Status</b></td>
				<td data-label="Status">{{ device.status }}</td>
			</tr>
			{% for item in networks %}
				<tr>
					<td><b>Network Hostname</b></td>
					<td data-label="Hostname">{{ item.Hostname }}</td>
				</tr>
				<tr>
					<td><b>Network Aliases</b></td>
					<td data-label="Aliases">{{ item.Aliases }}</td>
				</tr>
				<tr>
					<td><b>Building Abbreviation</b></td>
					<td data-label="Building Abbreviation">{{ item.Building_Abbr }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="container text-center">
		<div id="hrow" class="container hrow">
			<div id="action-col" class="hcolumn">
				<table class="htable">
					<tr>
						<th>Action</th>
					</tr>
					{% for e in history %}
						<tr>
							<td>
								{{ e.history_user }}
								{{ e.history_type }} on {{ e.history_date }}
							</td>
						</tr>

					{% endfor %}
				</table>
			</div>
			<div id="change-col" class="hcolumn">
				<table class="htable">
					<tr>
						<th>changes</th>
					</tr>
					{% for item in delta %}
						<tr>
							<td>
								{% if item.changes %}
									{% for change in item.changes %}
										<b>{{ change.field }}</b> changes from <b>{{ change.old }}</b> to <b>{{ change.new }}</b>
										<br>
									{% endfor %}
								{% endif %}
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td>Added item</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
{% endblock %}