{% extends "base.html" %}

{% block content %}
<!-- <title>Virginia Tech Buildings</title> -->
<div class="jumbotron text-center">
  <div class="container">
      <h1>Virginia Tech Buildings</h1>
      <p>A Virginia Tech Tech Together Campaign Application Proposal </p>
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </div>
</div>
<div class="container">
  <li>
    <a href="https://vt.edu/about/locations/buildings/new-hall-west.html" class="vt-subnav-droplist-item">

      New Hall West
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/cochrane-hall.html" class="vt-subnav-droplist-item">

      Cochrane Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/hancock-hall.html" class="vt-subnav-droplist-item">

      John W. Hancock Jr. Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/cassell-coliseum.html" class="vt-subnav-droplist-item">

      Cassell Coliseum
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/graduate-life-center.html" class="vt-subnav-droplist-item">

      Graduate Life Center at Donaldson Brown
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/surge_space_building.html" class="vt-subnav-droplist-item">

      Surge Space Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/basketball_practice_facility.html"
      class="vt-subnav-droplist-item">

      Hahn Hurst Basketball Practice Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/grove.html" class="vt-subnav-droplist-item">

      The Grove
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/signature-engineering.html" class="vt-subnav-droplist-item">

      Goodwin Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/squires-student-center.html" class="vt-subnav-droplist-item">

      Squires Student Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/the-inn-at-virginia-tech.html" class="vt-subnav-droplist-item">

      The Inn at Virginia Tech
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/thomas-hall.html" class="vt-subnav-droplist-item">

      Thomas Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/bishop-favrao_hall.html" class="vt-subnav-droplist-item">

      Bishop-Favrao Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/new-residence-hall-east.html" class="vt-subnav-droplist-item">

      New Residence Hall - East
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/war-memorial-chapel.html" class="vt-subnav-droplist-item">

      War Memorial Chapel
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/mv-practice.html" class="vt-subnav-droplist-item">

      Marching Virginians Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/jamerson-athletic-center.html" class="vt-subnav-droplist-item">

      Jamerson Athletic Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/golf-course-clubhouse.html" class="vt-subnav-droplist-item">

      Virginia Tech Golf Course Pro Shop
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/theatre_101.html" class="vt-subnav-droplist-item">

      Theatre 101
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/burrows-burleson-tennis-center.html"
      class="vt-subnav-droplist-item">

      Burrows-Burleson Tennis Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/hutcheson-hall.html" class="vt-subnav-droplist-item">

      Hutcheson Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/durham-hall.html" class="vt-subnav-droplist-item">

      Durham Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/dietrick-hall.html" class="vt-subnav-droplist-item">

      Dietrick Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/steger.html" class="vt-subnav-droplist-item">

      Steger Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/williams-hall.html" class="vt-subnav-droplist-item">

      Williams Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/vawter-hall.html" class="vt-subnav-droplist-item">

      Vawter Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/cowgill-hall.html" class="vt-subnav-droplist-item">

      Cowgill Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/payne-hall.html" class="vt-subnav-droplist-item">

      Payne Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/pritchard-hall.html" class="vt-subnav-droplist-item">

      Pritchard Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/major-williams-hall.html" class="vt-subnav-droplist-item">

      Major Williams Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/military-building.html" class="vt-subnav-droplist-item">

      Military Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/drillfield.html" class="vt-subnav-droplist-item">

      Drillfield
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/lavery-hall.html" class="vt-subnav-droplist-item">

      Lavery Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/north-end.html" class="vt-subnav-droplist-item">

      North End Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/barringer-hall.html" class="vt-subnav-droplist-item">

      Barringer Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/health-and-safety-building.html" class="vt-subnav-droplist-item">

      Health and Safety Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/harper-hall.html" class="vt-subnav-droplist-item">

      Harper Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/lee-hall.html" class="vt-subnav-droplist-item">

      Lee Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/career-services-building.html" class="vt-subnav-droplist-item">

      Smith Career Center (Career and Professional Development)
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/Solitude.html" class="vt-subnav-droplist-item">

      Solitude
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/skelton-conference-center.html" class="vt-subnav-droplist-item">

      Skelton Conference Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/university-bookstore.html" class="vt-subnav-droplist-item">

      University Bookstore
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/war-memorial-hall.html" class="vt-subnav-droplist-item">

      War Memorial Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/wallace-hall.html" class="vt-subnav-droplist-item">

      Wallace Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/public-safety-building.html" class="vt-subnav-droplist-item">

      Public Safety Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/miles-hall.html" class="vt-subnav-droplist-item">

      Miles Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/patton-hall.html" class="vt-subnav-droplist-item">

      Patton Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/price-hall.html" class="vt-subnav-droplist-item">

      Price Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/center-for-the-arts.html" class="vt-subnav-droplist-item">

      Moss Arts Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/johnson-hall.html" class="vt-subnav-droplist-item">

      Johnson Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/parking-deck.html" class="vt-subnav-droplist-item">

      Perry Street Parking Deck
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/holtzman-alumni-center.html" class="vt-subnav-droplist-item">

      Holtzman Alumni Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/lane-stadium-worsham-field.html" class="vt-subnav-droplist-item">

      Lane Stadium/Worsham Field
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/peters-clinic.html" class="vt-subnav-droplist-item">

      Harry T. Peters Jr. Large Animal Clinic
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/fralin-biotechnology-center.html" class="vt-subnav-droplist-item">

      Fralin Life Science Institute
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/cheatham-hall.html" class="vt-subnav-droplist-item">

      Cheatham Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/seitz-hall.html" class="vt-subnav-droplist-item">

      Seitz Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/torgersen-hall.html" class="vt-subnav-droplist-item">

      Torgersen Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/smyth-hall.html" class="vt-subnav-droplist-item">

      Smyth Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/litton-reaves-hall.html" class="vt-subnav-droplist-item">

      Litton-Reaves Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/media-annex.html" class="vt-subnav-droplist-item">

      Media Annex
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/mcbryde-hall.html" class="vt-subnav-droplist-item">

      McBryde Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/mccomas-hall.html" class="vt-subnav-droplist-item">

      McComas Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/media-building.html" class="vt-subnav-droplist-item">

      Media Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/newman-library.html" class="vt-subnav-droplist-item">

      Carol M. Newman Library
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/pearson-hall.html" class="vt-subnav-droplist-item">

      Pearson Hall East
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/oshaughnessy-hall.html" class="vt-subnav-droplist-item">

      O&#39;Shaughnessy Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/latham_hall.html" class="vt-subnav-droplist-item">

      Latham Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/wright-house.html" class="vt-subnav-droplist-item">

      Wright House
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/campbell-hall.html" class="vt-subnav-droplist-item">

      Campbell Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/agnew-hall.html" class="vt-subnav-droplist-item">

      Agnew Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/burchard-hall.html" class="vt-subnav-droplist-item">

      Burchard Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/henderson-hall.html" class="vt-subnav-droplist-item">

      Henderson Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/food-science-and-technology.html" class="vt-subnav-droplist-item">

      Food Science and Technology Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/davidson-hall.html" class="vt-subnav-droplist-item">

      Davidson Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/hahn_hall_north_wing.html" class="vt-subnav-droplist-item">

      Hahn Hall-North Wing
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/saunders-hall.html" class="vt-subnav-droplist-item">

      Saunders Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/whittemore-hall.html" class="vt-subnav-droplist-item">

      Whittemore Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/peddrew-yates-residence-hall.html"
      class="vt-subnav-droplist-item">

      Peddrew-Yates Residence Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/randolph-hall.html" class="vt-subnav-droplist-item">

      Randolph Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/rector-field-house.html" class="vt-subnav-droplist-item">

      Rector Field House
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/old-security-building.html" class="vt-subnav-droplist-item">

      Old Security Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/newman-hall.html" class="vt-subnav-droplist-item">

      Newman Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/human-ag-biosciences-1.html" class="vt-subnav-droplist-item">

      Human and Agricultural Biosciences Building I
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/hahn-garden.html" class="vt-subnav-droplist-item">

      Hahn Garden Pavilion and Horticulture Garden
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/student_services_building.html" class="vt-subnav-droplist-item">

      Student Services Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/parking-services.html" class="vt-subnav-droplist-item">

      Parking Services Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/sterrett.html" class="vt-subnav-droplist-item">

      Sterrett Facility Complex
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/hillcrest-hall.html" class="vt-subnav-droplist-item">

      Hillcrest Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/engel-hall.html" class="vt-subnav-droplist-item">

      Engel Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/pamplin-hall.html" class="vt-subnav-droplist-item">

      Pamplin Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/merryman-athletic-facility.html" class="vt-subnav-droplist-item">

      Merryman Athletic Facility
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/alphin-stuart_livestock_teaching_arena.html"
      class="vt-subnav-droplist-item">

      Alphin-Stuart Livestock Teaching Arena
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/oak-lane.html" class="vt-subnav-droplist-item">

      Oak Lane Community
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/visitor-admissions.html" class="vt-subnav-droplist-item">

      Visitor and Undergraduate Admissions Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/talbot-center.html" class="vt-subnav-droplist-item">

      Richard B. Talbot Educational Resources Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/lavery-center.html" class="vt-subnav-droplist-item">

      William E. Lavery Animal Health Research Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/indoor-athletic-training.html" class="vt-subnav-droplist-item">

      Beamer-Lawson Indoor Practice Facility
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/burruss-hall.html" class="vt-subnav-droplist-item">

      Burruss Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/lane-hall.html" class="vt-subnav-droplist-item">

      Lane Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/johnston-student-center.html" class="vt-subnav-droplist-item">

      G. Burke Johnston Student Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/femoyer-hall.html" class="vt-subnav-droplist-item">

      Femoyer Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/virginia-maryland-regional-college-of-veterinary-medicine.html"
      class="vt-subnav-droplist-item">

      Virginia-Maryland Regional College of Veterinary Medicine
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/performing-arts-building.html" class="vt-subnav-droplist-item">

      College of Liberal Arts and Human Sciences Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/sandy-hall.html" class="vt-subnav-droplist-item">

      Sandy Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/robeson-hall.html" class="vt-subnav-droplist-item">

      Robeson Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/owens-hall.html" class="vt-subnav-droplist-item">

      Owens Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/monteith-hall.html" class="vt-subnav-droplist-item">

      Monteith Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/life_sciences_I_facility.html" class="vt-subnav-droplist-item">

      Life Sciences I Facility
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/dairy-complex-kentland.html" class="vt-subnav-droplist-item">

      Dairy Science Complex - Kentland Farm
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/kelly-hall.html" class="vt-subnav-droplist-item">

      Kelly Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/ambler-johnston-hall.html" class="vt-subnav-droplist-item">

      Ambler Johnston Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/architecture-annex.html" class="vt-subnav-droplist-item">

      Architecture Annex
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/holden-hall.html" class="vt-subnav-droplist-item">

      Holden Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/derring-hall.html" class="vt-subnav-droplist-item">

      Derring Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/hahn_hall_south_wing.html" class="vt-subnav-droplist-item">

      Hahn Hall-South Wing
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/eggleston-hall.html" class="vt-subnav-droplist-item">

      Eggleston Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/art-and-design-learning-center.html"
      class="vt-subnav-droplist-item">

      Art and Design Learning Center
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/armory.html" class="vt-subnav-droplist-item">

      Armory
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/shanks-hall.html" class="vt-subnav-droplist-item">

      Shanks Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/slusher-hall.html" class="vt-subnav-droplist-item">

      Slusher Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/norris-hall.html" class="vt-subnav-droplist-item">

      Norris Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/ictas-ii.html" class="vt-subnav-droplist-item">

      Institute for Critical Technology and Applied Science (ICTAS II)
    </a>
  </li>



  <li>
    <a href="https://vt.edu/about/locations/buildings/old-growth-forest-stadium-woods.html"
      class="vt-subnav-droplist-item">

      Old-Growth Forest/Stadium Woods
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/classroom-building.html" class="vt-subnav-droplist-item">

      Classroom Building
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/bioinformatics.html" class="vt-subnav-droplist-item">

      Steger Hall
    </a>
  </li>


  <li>
    <a href="https://vt.edu/about/locations/buildings/new-cadet-hall.html" class="vt-subnav-droplist-item">

      Pearson Hall West
    </a>
  </li>

  </ul>
</div>
{% endblock %}