{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>McBryde Hall</h1>
        <p>A Virginia Tech Tech Together Campaign Application Proposal </p>
        <a type="button" class="btn btn-lg btn-default"
            href="https://devcenter.heroku.com/articles/getting-started-with-python"></span> Check In</a>
        <a type="button" class="btn btn-lg btn-primary" href="https://github.com/chenyuan99/Tech-Together-App"></span>
            Check Out</a>
    </div>
</div>

{% endblock %}