{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Import Buildings</h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" name="myfile">
            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-primary btn-md" type="submit">Upload</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}