{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>About Us</h1>
        <p>A Virginia Tech Tech Together Campaign Application</p>
    </div>
</div>
<div class="container ">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3></span>Advisor</h3>
        </div>
        <div class="panel-body">
            <div class="row text-center">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail ">
                        <img src="https://www.phys.vt.edu/content/dam/phys_vt_edu/research_faculty_&_instructorsphotos/arobinson.jpg"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Alma Robinson</h3>
                            <p> Department of Physics</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3></span>Team</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHpb8BkoOTT3A/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=TfR6EiWWar6zDK8vPHVkkr25kbFeLnmqiV_mghz7ucs"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Siyuan Ren</h3>
                            <p> Hardware Engineer
                            </p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGl2R3w5c9vqQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=kahQFeC74r2FKsej7_g-lJcksRiy6D3tMRMckV13tg4"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Yuan Chen</h3>
                            <p> Software Engineer</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQF-27oNQpkCJg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=do0UOnw1awkhOmDvoXE1ImdotN6HeOfWv8t6mCkyfbE"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Xilei Zhu</h3>
                            <p> Data Scientist</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFmUSFG-umaEg/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=OCUZVt89nrPe5o2kyFujBm25gSx4Sj1oM18Jak7dAFw"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Weifan Li</h3>
                            <p> Finance</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEMM2oMLxF0iQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=pL1LIcXPxh5eVUDGERiAC92Z-0KOrKjW14_pqFnYjM4"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Runzhe Liu</h3>
                            <p> Database</p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="https://media-exp1.licdn.com/dms/image/C4D03AQE0AiquZLASAA/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=fzTb1BUjmphYfGrR3FosNKQ_J9fcIuDvn-y2DO-0aXM"
                            alt="...">
                        <div class="caption text-center">
                            <h3>Yaokun Lai</h3>
                            <p> Project Leader
                            </p>
                            <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading text-center">
                <h3></span>Sponsor</h3>
        </div>
        <div class="panel-body text-center">
                <h3>COVID-19 Rapid Response Seed Fund</h3>
        </div>
</div>
</div>

{% endblock %}