{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1>About Us</h1>
        <p>A Team OjbK Application</p>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light"
                data-type="HORIZONTAL" data-vanity="chenyuan99" data-version="v1"><a
                    class="badge-base__link LI-simple-link"
                    href="https://www.linkedin.com/in/chenyuan99/en-us?trk=profile-badge"></a>
            </div>
        </div>
        <div class="col">
            <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light"
                data-type="HORIZONTAL" data-vanity="weikai-liang-1388631aa" data-version="v1"><a
                    class="badge-base__link LI-simple-link"
                    href="https://www.linkedin.com/in/weikai-liang-1388631aa/en-us?trk=profile-badge"></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}