{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
	<div class="container">
		<p>{{user.username|title}}'s History</p>
	</div>
</div>
<div class="container ">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<!-- <div class="panel-heading text-center">
			<h3>Your History</h3>
		</div> -->

		<!-- Table -->
		<br>

		<div class="button-group">
			<a href="{% url 'display_userDevice' %}" class="btn btn-outline-primary btn-md"
				role="button">UserDevices</a>
			<a href="{% url 'add_userDevice' %}" class="btn btn-outline-primary btn-md" role="button">Add
				UserDevices</a>
		</div>

		<br>

		<h4>Currently Viewing {{ header }}</h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Custodian Pid</th>
					<th>DeviceID</th>
					<th>Checkout Date</th>
					<!-- <th>Faculty</th> -->
					<th>Edit or Delete</th>
				</tr>
			</thead>

			<tbody>

				{% for item in items %}

				<!-- UserPID =  models.CharField(max_length=100, default = '')
				DeviceID = models.CharField(max_length=100, default = '')
				Note = models.CharField(max_length=100, default = '')
				Custodian = models.CharField(max_length=64, default = '')
				isHomeUse = models.BooleanField(default=False)
				CheckoutDate = models.DateField()  # create time (automatic)
				ReturnDate = models.DateField()  # create time (automatic) -->

				<tr>
					<td>{{ item.UserPID }}</td>
					<td>{{ item.DeviceID }}</td>
					<!-- <td>{{ item.Custodian }}</td> -->
					<!-- <td>{{ item.isHomeUse }}</td> -->
					<td>{{ item.CheckoutDate }}</td>
					<!-- <td>{{ item.ReturnDate }}</td> -->
					{% if header|lower == "UserDevice" %}
					<td>
						<a href="{% url 'edit_device' item.pk %}" class="btn btn-outline-info btn-sm"
							role="button">Edit</a>
						<a href="{% url 'delete_device' item.pk %}" class="btn btn-outline-danger btn-sm"
							role="button">Delete</a>
					</td>

					{% endif %}

				</tr>

				{% endfor %}

			</tbody>

		</table>
	</div>
</div>
{% endblock %}