{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Account</h1>
        <p>{{user.username|title}}</p>
    </div>
</div>
<div class="container ">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading text-center"><h3>Saved Places</h3></div>

        <!-- Table -->
        <table>
            <tr>
                <th>Field 1</th>
                ...
                <th>Field N</th>
            </tr>
            {% for item in query_results %}
            <tr> 
                <td>{{ item.field1 }}</td>
                ...
                <td>{{ item.fieldN }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading text-center"><h3>Your History</h3></div>

        <!-- Table -->
        <table>
            <tr>
                <th>Field 1</th>
                ...
                <th>Field N</th>
            </tr>
            {% for item in query_results %}
            <tr> 
                <td>{{ item.field1 }}</td>
                ...
                <td>{{ item.fieldN }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div class="container ">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}