{% extends "base.html" %}
{% load static %}
{% block content %}

<body>

	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar">
					<div class="container-fluid">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="#">
									<span data-feather="home"></span>
									Dashboard <span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{% url 'display_hostnames' %}">
									<span data-feather="file"></span>
									Hostnames
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="shopping-cart"></span>
									Devices
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="users"></span>
									Customers
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="bar-chart-2"></span>
									Reports
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="layers"></span>
									Integrations
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="layers"></span>
									History
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">Dashboard</h1>
					<div class="btn-toolbar mb-2 mb-md-0">
						<div class="btn-group mr-2">
							<button class="btn btn-sm btn-outline-secondary">Share</button>
							<button class="btn btn-sm btn-outline-secondary">Export</button>
						</div>
						<button class="btn btn-sm btn-outline-secondary dropdown-toggle">
							<span data-feather="calendar"></span>
							This week
						</button>
					</div>
				</div>

				<canvas class="my-4" id="myChart" width="900" height="100"></canvas>

				<<h4>Currently Viewing {{ header }}</h4>
					<table class="table table-hover">
						<thead>
							{% if header|lower == "device" %}
							<tr>
								<th>id</th>
								<th>Model</th>
								<th>Price</th>
								<th>Manufacturer</th>
								<th>Model</th>
								<th>VT_Tag</th>
								<th>CS_Tag</th>
								<th>Serial_Number</th>
								<th>Status</th>
								<th>Issues</th>
								{% if user.is_authenticated %}
								<th>Edit or Delete</th>
								{% endif %}
							</tr>
							{% endif %}
							{% if header|lower == "hostname" %}
							<th>id</th>
							<th>Hostname</th>
							<th>Aliases</th>
							<th>IP_Address</th>
							<th>IPv6_Address</th>
							<th>MAC_Address</th>
							{% if user.is_authenticated %}
							<th>Edit or Delete</th>
							{% endif %}

							{% endif %}
						</thead>

						<tbody>

							{% for item in items %}

							<tr>
								{% if header|lower == "device" %}
								<td>{{ item.pk }}</td>
								<td>{{ item.type }}</td>
								<td>${{ item.price }}</td>
								<td>{{ item.Manufacturer }}</td>
								<td>{{ item.Model }}</td>
								<td>{{ item.VT_Tag }}</td>
								<td>{{ item.CS_Tag }}</td>
								<td>{{ item.Serial_Number }}</td>
								<td>{{ item.status }}</td>
								<td>{{ item.issue }}</td>
								{% if user.is_authenticated %}
								<th>Edit or Delete</th>

								<td>
									<a href="{% url 'edit_device' item.pk %}" class="btn btn-outline-info btn-sm"
										role="button">Edit</a>
									<a href="{% url 'delete_device' item.pk %}" class="btn btn-outline-danger btn-sm"
										role="button">Delete</a>
								</td>
								{% endif %}
								{% endif %}

								{% if header|lower == "hostname" %}

								<td>{{ item.pk }}</td>
								<td>{{ item.Hostname }}</td>
								<td>{{ item.Aliases }}</td>
								<td>{{ item.IP_Address }}</td>
								<td>{{ item.IPv6_Address }}</td>
								<td>{{ item.MAC_Address }}</td>
								{% if user.is_authenticated %}
								<td>
									<a href="{% url 'edit_device' item.pk %}" class="btn btn-outline-info btn-sm"
										role="button">Edit</a>
									<a href="{% url 'delete_device' item.pk %}" class="btn btn-outline-danger btn-sm"
										role="button">Delete</a>
								</td>
								{% endif %}
								{% endif %}

							</tr>

							{% endfor %}

						</tbody>

					</table>
		</div>
		</main>
	</div>
	</div>

	<!-- Bootstrap core JavaScript
      ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="../../../../assets/js/vendor/popper.min.js"></script>
	<script src="../../../../dist/js/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script>

	<!-- Graphs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
</body>

{% endblock %}