{% extends "base.html" %}
{% load static %}
{% block content %}

<body>

	<div class="collapsed-page-wrapper">
		<!-- <div class="container"> -->
			<!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar"> -->
			<div class="data-manager-wrapper">
				<div class="data-manager-wrapper-2">
					<div vhid="dtmgr">
						<div data-v-362f319e="" class="data-manager-div data-manager-stacked-div">
							<div data-v-362f319e="">
								<div data-v-362f319e="" class="toolbar-div">
									<div data-v-362f319e="" class="inline"><button data-v-362f319e=""
											title="Data Settings" aria-label="Data Settings"
											class="toolbar-btn transparent-button"><span data-feather="settings"></span></button>
										<!---->
									</div>
									<div data-v-362f319e="" title="Reset Data Filters" class="inline"><button
											data-v-362f319e="" aria-label="Reset Data Filters"
											class="toolbar-btn transparent-button"><span data-feather="delete"></span></button></div>
									<!---->
								</div>
							</div>
							<h2 data-v-362f319e="" class="sr-only">Filters</h2>
							<div data-v-362f319e="" vhid="cont">
								<div data-v-362f319e="" class="data-filter-cont-div">
									<div>
										<!---->
										<div class="inline">
											<div vhid="filter[Academic Year]">
												<div data-v-a7c0b98e="">
													<div data-v-a7c0b98e="" class="filter-wrapper stacked">
														<div data-v-a7c0b98e="" role="group"
															aria-labelledby="DataFilter1" class="filter-div">
															<div data-v-a7c0b98e="" class="inline">
																<div data-v-a7c0b98e="" class="filter-header">
																	<h3 data-v-a7c0b98e="" id="DataFilter1" title=""
																		class="filter-title">
																		Academic Year
																	</h3> <button data-v-a7c0b98e=""
																		title="Set As Chart Series"
																		aria-label="Set group as Chart Series"
																		class="chart-series-button transparent-button"
																		style="display: none;"><i data-v-a7c0b98e=""
																			class="fa fa-bar-chart fa-disabled"></i></button>
																	<!---->
																</div>
															</div> <br data-v-a7c0b98e="" class="clearBoth">
															<div data-v-a7c0b98e="" class="filter-seperator"></div>
															<div data-v-a7c0b98e="" class="filter-body inline">
																<div data-v-a7c0b98e="">
																	<div data-v-a7c0b98e="" vhid="slct">
																		<div data-v-a7c0b98e="">
																			<div vhid="yearRangePicker">
																				<div data-v-51642fe6=""
																					class="year-range-picker-div">
																					<div data-v-51642fe6=""><select
																							data-v-51642fe6=""
																							class="year-range-picker inline">
																						</select> <span
																							data-v-51642fe6=""
																							class="inline"> To </span>
																						<select data-v-51642fe6=""
																							class="year-range-picker inline">
																						</select> <br
																							data-v-51642fe6=""></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!---->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div> <br class="clearBoth">
									</div>
									<div>
										<!---->
										<div class="inline">
											<div vhid="filter[Term]">
												<div data-v-a7c0b98e="">
													<div data-v-a7c0b98e="" class="filter-wrapper stacked">
														<div data-v-a7c0b98e="" role="group"
															aria-labelledby="DataFilter2" class="filter-div">
															<div data-v-a7c0b98e="" class="inline">
																<div data-v-a7c0b98e="" class="filter-header">
																	<h3 data-v-a7c0b98e="" id="DataFilter2" title=""
																		class="filter-title">
																		Term
																	</h3> <button data-v-a7c0b98e=""
																		title="Set As Chart Series"
																		aria-label="Set group as Chart Series"
																		class="chart-series-button transparent-button"
																		style="display: none;"><i data-v-a7c0b98e=""
																			class="fa fa-bar-chart fa-disabled"></i></button>
																	<!---->
																</div>
															</div> <br data-v-a7c0b98e="" class="clearBoth">
															<div data-v-a7c0b98e="" class="filter-seperator"></div>
															<div data-v-a7c0b98e="" class="filter-body inline">
																<div data-v-a7c0b98e="">
																	<div data-v-a7c0b98e="" vhid="slct">
																		<div data-v-a7c0b98e="">
																			<div vhid="checkbox">
																				<div data-v-868900c4="">
																					<div data-v-868900c4=""
																						class="stacked">
																						<div data-v-868900c4=""
																							class="checkbox"><label
																								data-v-868900c4=""
																								class="option-label"><input
																									data-v-868900c4=""
																									type="checkbox"><span
																									data-v-868900c4=""
																									class=""> Fall
																								</span></label></div>
																						<div data-v-868900c4=""
																							class="checkbox"><label
																								data-v-868900c4=""
																								class="option-label"><input
																									data-v-868900c4=""
																									type="checkbox"><span
																									data-v-868900c4=""
																									class=""> Spring
																								</span></label></div>
																						<div data-v-868900c4=""
																							class="checkbox"><label
																								data-v-868900c4=""
																								class="option-label"><input
																									data-v-868900c4=""
																									type="checkbox"><span
																									data-v-868900c4=""
																									class=""> Winter
																								</span></label></div>
																						<div data-v-868900c4=""
																							class="checkbox"><label
																								data-v-868900c4=""
																								class="option-label"><input
																									data-v-868900c4=""
																									type="checkbox"><span
																									data-v-868900c4=""
																									class=""> Summer I
																								</span></label></div>
																						<div data-v-868900c4=""
																							class="checkbox"><label
																								data-v-868900c4=""
																								class="option-label"><input
																									data-v-868900c4=""
																									type="checkbox"><span
																									data-v-868900c4=""
																									class=""> Summer II
																								</span></label></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!---->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div> <br class="clearBoth">
									</div>
									<div>
										<!---->
										<div class="inline">
											<div vhid="filter[College]">
												<div data-v-a7c0b98e="">
													<div data-v-a7c0b98e="" class="filter-wrapper stacked">
														<div data-v-a7c0b98e="" role="group"
															aria-labelledby="DataFilter3" class="filter-div">
															<div data-v-a7c0b98e="" class="inline">
																<div data-v-a7c0b98e="" class="filter-header">
																	<h3 data-v-a7c0b98e="" id="DataFilter3" title=""
																		class="filter-title">
																		College
																	</h3> <button data-v-a7c0b98e=""
																		title="Set As Chart Series"
																		aria-label="Set group as Chart Series"
																		class="chart-series-button transparent-button"
																		style="display: none;"><i data-v-a7c0b98e=""
																			class="fa fa-bar-chart fa-disabled"></i></button>
																	<!---->
																</div>
															</div> <br data-v-a7c0b98e="" class="clearBoth">
															<!---->
															<div data-v-a7c0b98e="" class="filter-body inline">
																<div data-v-a7c0b98e="">
																	<div data-v-a7c0b98e="" vhid="slct">
																		<div data-v-a7c0b98e="">
																			<div vhid="dropdown">
																				<div data-v-0f2a14df=""
																					class="dropdown-div">
																					<div data-v-0f2a14df=""><select
																							data-v-0f2a14df=""
																							class="form-control dropdown cursor-pointer">
																						</select></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!---->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div> <br class="clearBoth">
									</div>
									<div>
										<!---->
										<div class="inline">
											<div vhid="filter[Subject]">
												<div data-v-a7c0b98e="">
													<div data-v-a7c0b98e="" class="filter-wrapper stacked">
														<div data-v-a7c0b98e="" role="group"
															aria-labelledby="DataFilter4" class="filter-div">
															<div data-v-a7c0b98e="" class="inline">
																<div data-v-a7c0b98e="" class="filter-header">
																	<h3 data-v-a7c0b98e="" id="DataFilter4" title=""
																		class="filter-title">
																		Subject
																	</h3> <button data-v-a7c0b98e=""
																		title="Set As Chart Series"
																		aria-label="Set group as Chart Series"
																		class="chart-series-button transparent-button"
																		style="display: none;"><i data-v-a7c0b98e=""
																			class="fa fa-bar-chart fa-disabled"></i></button>
																	<!---->
																</div>
															</div> <br data-v-a7c0b98e="" class="clearBoth">
															<!---->
															<div data-v-a7c0b98e="" class="filter-body inline">
																<div data-v-a7c0b98e="">
																	<div data-v-a7c0b98e="" vhid="slct">
																		<div data-v-a7c0b98e="">
																			<div vhid="dropdown">
																				<div data-v-0f2a14df=""
																					class="dropdown-div">
																					<div data-v-0f2a14df=""><select
																							data-v-0f2a14df=""
																							class="form-control dropdown cursor-pointer">
																						</select></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!---->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div> <br class="clearBoth">
									</div>
									<div>
										<!---->
										<div class="inline">
											<div vhid="filter[Course]">
												<div data-v-a7c0b98e="">
													<div data-v-a7c0b98e="" class="filter-wrapper stacked">
														<div data-v-a7c0b98e="" role="group"
															aria-labelledby="DataFilter5" class="filter-div">
															<div data-v-a7c0b98e="" class="inline">
																<div data-v-a7c0b98e="" class="filter-header">
																	<h3 data-v-a7c0b98e="" id="DataFilter5" title=""
																		class="filter-title">
																		Course
																	</h3> <button data-v-a7c0b98e=""
																		title="Set As Chart Series"
																		aria-label="Set group as Chart Series"
																		class="chart-series-button transparent-button"
																		style="display: none;"><i data-v-a7c0b98e=""
																			class="fa fa-bar-chart fa-disabled"></i></button>
																	<!---->
																</div>
															</div> <br data-v-a7c0b98e="" class="clearBoth">
															<!---->
															<div data-v-a7c0b98e="" class="filter-body inline">
																<div data-v-a7c0b98e="">
																	<div data-v-a7c0b98e="" vhid="slct">
																		<div data-v-a7c0b98e="">
																			<div vhid="dropdown">
																				<div data-v-0f2a14df=""
																					class="dropdown-div">
																					<div data-v-0f2a14df=""><select
																							data-v-0f2a14df=""
																							class="form-control dropdown cursor-pointer">
																						</select></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!---->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!---->
									</div>
									<!---->
								</div>
							</div>
							<!---->
							<!---->
						</div>
					</div>
				</div>
			</div>

		<!-- </nav> -->
		<div class="data-display-wrapper">
				<h2>All Tickets</h2>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>Address</th>
								<th>Device</th>
								<th>Faculty</th>
								<th>Action</th>
								<th>Status</th>
								<th>Issues</th>
								<th>Edit or Delete</th>
							</tr>
						</thead>

						<tbody>

							{% for item in items %}

							<tr>
								<td>{{ item.pk }}</td>
								<td>{{ item.address }}</td>
								<td>{{ item.device }}</td>
								<td>{{ item.faculty }}</td>
								<td>{{ item.action }}</td>
								<td>{{ item.status }}</td>
								<td>{{ item.issue }}</td>
								{% if header|lower == "ticket" %}
								<td>
									<a href="{% url 'edit_device' item.pk %}" class="btn btn-outline-info btn-sm"
										role="button">Edit</a>
									<a href="{% url 'delete_device' item.pk %}" class="btn btn-outline-danger btn-sm"
										role="button">Delete</a>
								</td>

								{% endif %}

							</tr>

							{% endfor %}

						</tbody>
					</table>
				</div>
			<!-- </main> -->
		</div>
	</div>
	</div>

	<!-- Bootstrap core JavaScript
      ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="../../../../assets/js/vendor/popper.min.js"></script>
	<script src="../../../../dist/js/bootstrap.min.js"></script>

	<!-- Icons -->
	<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script>

	<!-- Graphs -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script>
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
				datasets: [{
					data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
					lineTension: 0,
					backgroundColor: 'transparent',
					borderColor: '#007bff',
					borderWidth: 4,
					pointBackgroundColor: '#007bff'
				}]
			},
			options: {
				scales: {
					yAxes: [{
						ticks: {
							beginAtZero: false
						}
					}]
				},
				legend: {
					display: false,
				}
			}
		});
	</script>
</body>

{% endblock %}