{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <center>
        <div class="position-sticky">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item"><a class="nav-link" href="/add_device">Add New Device</a> </li>
                <li class="nav-item"><a class="nav-link" href="/">Default</a> </li>
                <li class="nav-item"><a class="nav-link" href="/display_devices">HCI</a> </li>
                <li class="nav-item"><a class="nav-link" href="/display_hostnames">Network</a> </li>
                <li class="nav-item"><a class="nav-link"
                        href="/display_devices?Serial_Number=&type=&description=&VT_Tag=&CS_Tag=&acq_date=&status=Missing">Missing</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                        href="/display_devices?Serial_Number=&type=&description=&VT_Tag=&CS_Tag=&acq_date=&status=In+Storage">In
                        Storage</a></li>
            </ul>
        </div>
        <form action="/invdev1/index.pl" method=post ENCTYPE="multipart/form-data">
            <input type=hidden name="old_cstag" value="">
            <table width=90% border=3 cellpadding=5>
                <!-- <table> -->
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="dept_check" value="CHECKED">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Dept. Code: </b></label>
                            </div>
                            <select class="custom-select" name="dept">
                                <option>004100</option>
                            </select>
                            <div class="input-group-append">
                                <input class="form-control" type=text size=20 name="dept_custom" maxlength=10 value="">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="status_check" value="CHECKED">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Status: </b></label>
                            </div>
                            <select class="custom-select" name="status">
                                <OPTION SELECTED>In Use</OPTION>
                                <OPTION></OPTION>
                                <OPTION>In Use</OPTION>
                                <OPTION>In Storage</OPTION>
                                <OPTION>On Loan</OPTION>
                                <OPTION>Damaged</OPTION>
                                <OPTION>Missing</OPTION>
                                <OPTION>Surplused</OPTION>
                                <OPTION>Transferred</OPTION>
                                <OPTION>Written Off</OPTION>
                                <OPTION>Orphaned</OPTION>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="location_check" value="CHECKED"
                                CHECKED>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Location: </b></label>
                            </div>
                            <select class="custom-select" name="location" size=1>
                                <OPTION SELECTED></OPTION>
                                <OPTION></OPTION>
                                <OPTION></OPTION>
                                <OPTION>2229 KW2</OPTION>
                                <OPTION>2231 KW2</OPTION>
                            </select>
                            <div class="input-group-append">
                                <input class="form-control" type=text size=30 name="location_custom" maxlength=255
                                    value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="vttag_check" value="CHECKED" CHECKED>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>VT Tag: </b></label>
                            </div>
                            <input class="form-control" type=text size=20 name="vttag" maxlength=255 value="">
                        </div>

                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="cstag_check" value="CHECKED" CHECKED>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>CS Tag: </b></label>
                            </div>
                            <input class="form-control" type=text size=20 name="cstag" maxlength=255 value="">
                        </div>

                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="serial_check" value="CHECKED">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Serial Num: </b></label>
                            </div>
                            <input class="form-control" type=text size=30 name="serial" maxlength=255 value="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="description_check" value="CHECKED"
                                CHECKED>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Description: </b></label>
                            </div>
                            <input class="form-control" type=text size=30 name="description" maxlength=255 value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="custodian_check" value="CHECKED"
                                CHECKED>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Custodian: </b></label>
                            </div>
                            <select class="custom-select" name="custodian" size=1>
                                <OPTION SELECTED></OPTION>
                                <OPTION>abc</OPTION>
                                <OPTION>carnold</OPTION>
                            </select>
                            <div class="input-group-append">
                                <input class="form-control" type=text size=30 name="custodian_custom" maxlength=255
                                    value="">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="porder_check" value="CHECKED" 0>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Purchase Order: </b></label>
                            </div>
                            <input class="form-control" type=text size=30 name="porder" maxlength=255 value="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="pdate_check" value="CHECKED" 0>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><b>Acquistion Date</b></span>
                            </div>
                            <input type="date" name="bday" max="3000-12-31" min="1000-01-01" class="form-control">
                        </div>
                        <input class="form-check-input" type="checkbox" name="pvalue_check" value="CHECKED" 0>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Value:</span>
                            </div>
                            <input type="text" class="form-control" name="pvalue" value="">
                            <div class="input-group-append">
                                <span class="input-group-text">$</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <b>Checkout To Information:</b>
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="checkout_name_check" value="CHECKED">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name:</span>
                            </div>
                            <input class="form-control" type=text size=30 name="checkout_name" maxlength=255 value="">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="checkout_office_check"
                                value="CHECKED">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Office:</span>
                            </div>
                            <input class="form-control" type=text size=30 name="checkout_office" maxlength=255 value="">
                        </div>
                        <input class="form-check-input" type="checkbox" name="checkout_contact_check" value="CHECKED">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email/Phone:</span>
                            </div>
                            <input class="form-control" type=text size=30 name="checkout_contact" maxlength=255
                                value="">
                        </div>
                    </div>
                    <div class="col">
                        <b>Checkout Used By
                            Information:</b>
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="checkuse_name_check" value="CHECKED">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Name:</label>
                            </div>
                            <input class="form-control" type=text size=30 name="checkuse_name" maxlength=255 value="">
                        </div>
                        <input class="form-check-input" type="checkbox" name="checkuse_contact_check" value="CHECKED">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email/Phone:</span>
                            </div>
                            <input class="form-control" type=text size=30 name="checkuse_contact" maxlength=255
                                value="">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <input class="form-check-input" type="checkbox" name="ip_check" value="CHECKED" 0>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">IP Address: </span>
                            </div>
                            <input class="form-control" type=text size=20 name="ip" maxlength=15 value="">
                        </div>
                        <input class="form-check-input" type="checkbox" name="ipv6_check" value="CHECKED">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">IPv6 Address: </span>
                            </div>
                            <input class="form-control" type=text size=60 name="ipv6" maxlength=255 value="">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="hostname_check" value="CHECKED"
                                CHECKED>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Hostname: </b></label>
                            </div>
                            <input class="form-control" type=text size=30 name="hostname" maxlength=255 value="">
                        </div>
                        <div class="input-group mb-3">
                            <input class="form-check-input" type="checkbox" name="cnames_check" value="CHECKED" 0>
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01"><b>Aliases/cnames: </b></label>
                            </div>
                            <input class="form-control" type=text size=50 name="cnames" value="">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <table width=100%>
                        <div class="row">
                            <td colspan=2>
                                <b>Action:</b>
                        </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check"><input type=radio name=action value="search" CHECKED> Search</div>
                        <div class="form-check"><input type=radio name=action value="networkform" ###moveform###>
                            Network Form
                        </div>
                        <div class="form-check"><input type=radio name=action value="edit"> Edit</div>
                        <div class="form-check"><input type=radio name=action value="moveform" ###moveform###> Move Form
                        </div>
                        <div class="form-check"><input type=radio name=action value="add"> Add</div>
                        <div class="form-check"><input type=radio name=action value="print"> Printable Report</div>
                        <div class="form-check"><input type=radio name=action value="ip"> Assign/Release IP Address
                        </div>
                        <div class="form-check"><input type=radio name=action value="checkout"> Checkout Form</div>
                        <div class="form-check"><input type=radio name=action value="delete"> Permanently Delete</div>
                        <button class="btn btn-primary" type="submit">Do the Needful</Button>
                    </div>
                    <div class="col">
                        <b>Display Options: </b>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Sort by:</label>
                            </div>
                            <select class="custom-select" name="sort" size=1>
                                <OPTION SELECTED>Location</OPTION>
                                <OPTION>Checkout To</OPTION>
                                <OPTION>Dept. Code</OPTION>
                                <OPTION>Custodian</OPTION>
                                <OPTION>Photo</OPTION>
                                <OPTION>Status</OPTION>
                                <OPTION>IP Address</OPTION>
                                <OPTION>Hostname</OPTION>
                                <OPTION>VT Tag</OPTION>
                                <OPTION>Aliases/cnames</OPTION>
                                <OPTION>CS Tag</OPTION>
                                <OPTION>Value</OPTION>
                                <OPTION>Checkout Used By Contact</OPTION>
                                <OPTION>Checkout Used By</OPTION>
                                <OPTION>Checkout To Contact</OPTION>
                                <OPTION>IPv6 Address</OPTION>
                                <OPTION>Location</OPTION>
                                <OPTION>Serial Num.</OPTION>
                                <OPTION>Aquistion Date</OPTION>
                                <OPTION>Purchase Order</OPTION>
                                <OPTION>Checkout To Office</OPTION>
                                <OPTION>Manufacturer</OPTION>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Limit results to</label>
                            </div>
                            <input class="form-control" type=text size=6 name="limit" maxlength=6 value="200">
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect02">item(s)</label>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </form>
    </center>
    <a href="/invdev1/index.pl?action=clear">Refresh the same.</a>

</div>


<div class="container text-center">
    <h4>Search returned 5 item(s)</h4>
    <table class="table table-bordered">
        <thead>
            <td><B>CS Tag</B></td>
            <td><B>Custodian</B></td>
            <td><B>Hostname</B></td>
            <td><B>Location</B></td>
            <td><B>Description</B></td>
            <td><B>VT Tag</B></td>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.price }}</td>
                <td>{{ item.Manufacturer }}</td>
                <td>{{ item.Model }}</td>
                <td>{{ item.VT_Tag }}</td>
                <td>{{ item.CS_Tag }}</td>
                <td>{{ item.Serial_Number }}</td>
            </tr>
            {% endfor %}

        </tbody>

    </table>
    Total value: $2987
</div>
{% endblock %}